# NPM/Node
/node_modules/
.ntvs_analysis.dat*
npm-debug*

# Istanbul
**/coverage/
coverage# IDE
/.idea/
/.settings

# Typescript
/typings
tsd-debug.log

# Generated Javascript
/scripts/**/*.js*
/src/**/*.js*
/test/**/*.js*
/bin/**/*.js*
/out/

**/testresults/
*.tgz